### Working with read_json() and different types of data formats...

In [1]:
import pandas as pd

The following example shows how different formats of JSON-based data can be used by the read_json() method simply by varying the orient= attribute.

##### Using orient='records'

In [2]:
data = '''
    [
        {"name": "Fang", "type": "Dog", "age": 3},
        {"name": "Aragog", "type": "Spider", "age": 1},
        {"name": "Hedwig", "type": "Owl", "age": 2}
    ]
'''

df = pd.read_json(data, orient='records')
df

   age    name    type
0    3    Fang     Dog
1    1  Aragog  Spider
2    2  Hedwig     Owl

#### Using orient='split'

In [3]:
data = '''
    {
        "columns": ["name", "type", "age"],
        "data": [["Aragog", "Spider", 1], ["Fang", "Dog", 3], ["Hedwig", "Owl", 2]],
        "index": [0, 1, 2]
    }
'''

df = pd.read_json(data, orient='split')
df

     name    type  age
0  Aragog  Spider    1
1    Fang     Dog    3
2  Hedwig     Owl    2

#### Using orient='index'

In [4]:
data = '''
    {
        "0":{"name": "Hedwig", "type": "Owl", "age": 2},
        "1":{"name": "Fang", "type": "Dog", "age": 3},
        "2":{"name": "Aragog", "type": "Spider", "age": 1},
    }
'''

df = pd.read_json(data, orient='index')
df

   age    name    type
0    2  Hedwig     Owl
1    3    Fang     Dog
2    1  Aragog  Spider

In [5]:
#### Using orient='columns'

In [6]:
data = '''
    {
        "name":{"0": "Aragog", "1": "Hedwig", "2": "Fang"},
        "type":{"0": "Spider", "1": "Owl", "2": "Dog"},
        "age":{"0": 1, "1": 2, "2": 3},
    }
'''

df = pd.read_json(data, orient='columns')
df

   age    name    type
0    1  Aragog  Spider
1    2  Hedwig     Owl
2    3    Fang     Dog

#### Using orient='values'

In [7]:
data = '''
    [
        ["Aragog", "Spider", 1],
        ["Hedwig", "Owl", 2],
        ["Fang", "Dog", 3]
    ]
'''

df = pd.read_json(data, orient='values')
df.columns = ["name", "type", "age"]
df

     name    type  age
0  Aragog  Spider    1
1  Hedwig     Owl    2
2    Fang     Dog    3